<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="mb-4">{{ 'PET_DETAILS.TITLE' | translate }}</h2>
      @if (error()) {
      <div class="alert alert-danger" role="alert">
        {{ 'COMMON.ERROR' | translate }}: {{ error() }}
      </div>
      }
      <div class="card mb-4">
        @if (this.isLoading()) {
        <div class="card-header d-flex justify-content-between align-items-center">
          <div class=" w-50">
            <div class="skeleton skeleton-button w-50 mb-1"></div>
            <div class="skeleton w-25 mb-2" style="height: 1rem;"></div>
          </div>
          <div class="d-grid gap-2 d-flex justify-content-end">
            <div class="skeleton skeleton-button "></div>
            <div class="skeleton skeleton-button "></div>
          </div>
        </div>
        <div class="card-body">
          <div class="skeleton-item">
            <div class="skeleton mb-3 w-50" style="height: 1rem;"></div>
            <div class="skeleton mb-3 w-50" style="height: 1rem;"></div>
            <div class="skeleton mb-3 w-50" style="height: 1rem;"></div>
            <div class="skeleton mb-3 w-50" style="height: 1rem;"></div>
            <div class="skeleton mb-3 w-50" style="height: 1rem;"></div>
            <div class="skeleton mb-3 w-50" style="height: 1rem;"></div>
            <div class="skeleton skeleton-button "></div>
          </div>
        </div>
        } @else if (pet(); as currentPet) {
        <div class="card-header d-flex justify-content-between align-items-center">
          <div>
            <h3 class="card-title mb-0">{{ currentPet.name }}</h3>
            <small class="text-muted">{{
              currentPet.dateOfBirth
              ? calculateAge(currentPet.dateOfBirth)
              : ('PET_DETAILS.UNKNOWN' | translate)
              }}
              {{ 'PET_DETAILS.AGE_YEARS' | translate }}</small>
          </div>
          <div class="gap-2 d-flex">
            <button class="btn btn-danger btn-sm" (click)="deletePet()" [disabled]="isLoading()">
              {{ 'PET_DETAILS.DELETE' | translate }}
            </button>
            <button class="btn btn-primary btn-sm" [routerLink]="['/pets/edit', currentPet.id]">
              {{ 'PET_DETAILS.EDIT' | translate }}
            </button>
          </div>
        </div>
        <div class="card-body">
          <p>
            <strong>{{ 'PET_DETAILS.SPECIES' | translate }}:</strong> {{ currentPet.species }}
          </p>
          <p>
            <strong>{{ 'PET_DETAILS.BREED' | translate }}:</strong> {{ currentPet.breed }}
          </p>
          <p>
            <strong>{{ 'PET_DETAILS.GENDER' | translate }}:</strong> {{ currentPet.gender }}
          </p>
          <p>
            <strong>{{ 'PET_DETAILS.DATE_OF_BIRTH' | translate }}:</strong>
            {{ currentPet.dateOfBirth | date : 'longDate' }}
          </p>
          <p>
            <strong>{{ 'PET_DETAILS.MICROCHIPPED' | translate }}:</strong>
            @if (currentPet.isMicrochip) {
            <span class="badge bg-info">{{ 'PET_DETAILS.YES' | translate }}</span>
            } @else {
            <span class="badge bg-secondary">{{ 'PET_DETAILS.NO' | translate }}</span>
            }
          </p>
          <p>
            <strong>{{ 'PET_DETAILS.NEUTERED' | translate }}:</strong>
            @if (currentPet.isNeutered) {
            <span class="badge bg-success">{{ 'PET_DETAILS.YES' | translate }}</span>
            } @else {
            <span class="badge bg-secondary">{{ 'PET_DETAILS.NO' | translate }}</span>
            }
          </p>
          <p>
            <a class="btn btn-outline-primary" [routerLink]="['/person-details', currentPet.personId]">{{
              'PET_DETAILS.OWNER_DETAILS' | translate }}
            </a>
          </p>
        </div>
        }
      </div>
    </div>
  </div>
</div>