<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">{{ 'HEADER.HOME' | translate }}</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/persons">{{ 'HEADER.PERSONS' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/search">{{ 'HEADER.SEARCH' | translate }}</a>
                </li>
            </ul>
            <div class="navbar-nav">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        {{ 'COMMON.LANGUAGE' | translate }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" (click)="changeLanguage('en'); $event.preventDefault()">English</a></li>
                        <li><a class="dropdown-item" href="#" (click)="changeLanguage('es'); $event.preventDefault()">Español</a></li>
                        <li><a class="dropdown-item" href="#" (click)="changeLanguage('fr'); $event.preventDefault()">Français</a></li>
                        <li><a class="dropdown-item" href="#" (click)="changeLanguage('sv'); $event.preventDefault()">Svenska</a></li>
                        <li><a class="dropdown-item" href="#" (click)="changeLanguage('de'); $event.preventDefault()">Deutsch</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>